{% include head.html %}

{% if page.is_post %}<a
  href="{{ '/blog' | prepend:site.url }}"
  >← Back to all posts</a
>{% endif %}

{% unless page.url == "/" %}
<h1>
  {% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{ post.title
  }}{% endif %}
</h1>
{% endunless %}

{% if page.date %}
<span class="timestamp timestamp-block">
  {% include post-date.html %}
</span>
{% endif %}

{% if page.url == "/" %}
{% include greeting.html %}
{% endif %}

{{ content }}

{% include foot.html %}