---
---
$accent-color: #b00; // link color
$font-stack: system-ui, Helvetica, Arial, sans-serif;
$heading-font-stack: system-ui, Helvetica, Arial, sans-serif; // use this to set a different font for your headings if you want

// reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// structure
body {
	font-family: $font-stack;
}

#container {
	width: 90%;
	max-width: 600px;
	margin: 4rem auto;
}

// navigation
nav {
	margin: 1rem 0 3rem;
}

nav li {
	list-style: none;
	display: inline-block;
	margin: 0;
}

nav a {
	margin-right: 1rem;
}

// typography: heading
h1, h2, h3 {
	color: #333;
    font-family: $heading-font-stack;
}

h1 {
	font-size: 2.5rem;
	margin-top: 1rem;
}

.global-title {
	font-size: 3rem;
	color: #222;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.3rem;
}

h2, h3 {
	margin: 2rem 0 1rem;
}

// typography: body
p, li {
	font-size: 1rem;
	line-height: 150%;
	color: #444;
	margin: 1.25rem 0;
}

li {
	margin: .5rem 0 0 2.5rem;
}

a {
	color: $accent-color;
}

a:hover, a:active {
	color: lighten($accent-color, 10%);
}

// images
img {
	max-width: 100%;
}

#portrait {
	width: 7rem;
	height: 7rem;
	border-radius: 4rem;
	float: left;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
}