---
---

$accent-color: #b00; // link color
$font-stack: system-ui, Helvetica, Arial, sans-serif;
$heading-font-stack: system-ui, Helvetica, Arial, sans-serif; // use this to set a different font for your headings if you want
$container-max-width: 700px;

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// structure
body {
  font-family: $font-stack;
}

#container {
  width: 90%;
  max-width: $container-max-width;
  margin: 4rem auto;
}

// navigation
nav {
  margin: 1rem 0 3rem;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

nav a {
  margin-right: 1rem;
}

// typography: heading
h1,
h2,
h3 {
  color: #333;
  font-family: $heading-font-stack;
}

h1 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.global-title {
  font-size: 3rem;
  color: #222;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

h2,
h3 {
  margin: 2rem 0 1rem;
}

// typography: body
p,
li {
  font-size: 1rem;
  line-height: 150%;
  color: #444;
  margin: 1.25rem 0;
}

li {
  margin: 0.25rem 0 0 2.5rem;
}

li:first-child {
  margin-top: 0;
}

a {
  color: $accent-color;
}

a:hover,
a:active {
  color: lighten($accent-color, 10%);
}

// images
img {
  max-width: 100%;
}

.avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  margin-right: 1.5rem;
}

// homepage greeting component
.greeting-container {
  display: flex;
}

.greeting-container h3 {
  align-self: center;
  margin: 0;
}

// blog page
.posts-list-item {
  list-style: none;
  margin: 1.25rem 0;
}

.posts-list-title {
  margin-bottom: 0.75rem;
}

.posts-list-item:first-of-type {
  margin-top: 1.25rem;
}

.posts-list-item .title {
  margin: 0 0.25rem 0 0;
  display: inline-block;
}

.timestamp {
  color: #676767;
}

.timestamp-inline {
  line-height: 1;
  align-self: flex-end;
  display: inline-block;
}

.timestamp-block {
  display: block;
  margin-top: 0.75rem;
}